
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yapılacaklar</h2>
<br />
<p><del><strong>#</strong> Başlıklarda Arama Kutucuğu</del></p>
<p><del><strong>#</strong> Yazar Görselleri Düzenlenecek</del></p>
<p><del><strong>#</strong> Grafikler</del></p>
<p><del><strong>#</strong> Vitrin Teması</del></p>
<p><del><strong>#</strong> Gelen Kutusunda Arama</del></p>
<p><strong>#</strong> Yetkilendirmeler</p>
<p><del><strong>#</strong> Hata Sayfası Layouttan Ayrılacak</del></p>
<p><del><strong>#</strong> Sözlük ve Vitrin Ayrılacak</del></p>
<p><del><strong>#</strong> Herhangi Bir Tablo Raporlanacak</del></p>
<p><strong>#</strong> Proje Dosyaları Sunucuya Taşınacak</p>
<p><strong>#</strong> Alan Adı Alınacak</p>
<p><strong>#</strong> Proje Canlıya Taşınacak</p>
<p><strong>#</strong> URL de ID Yerine İsim Gelsin</p>
<p><del><strong>#</strong> IFrame Ekleme</del></p>
<p><strong>#</strong> SweetAlert</p>
<p><strong>#</strong> Admin Çıkış Yap</p>

