
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yapılacaklar</h2>
<br />
<p><strong>#</strong> Başlıklarda Arama Kutucuğu</p>
<p><strong>#</strong> Yazar Görselleri Düzenlenecek</p>
<p><strong>#</strong> Grafikler</p>
<p><strong>#</strong> Vitrin Teması</p>
<p><strong>#</strong> Gelen Kutusunda Arama</p>
<p><strong>#</strong> Yetkilendirmeler</p>
<p><strong>#</strong> Hata Sayfası Layouttan Ayrılacak</p>
<p><strong>#</strong> Sözlük ve Vitrin Ayrılacak</p>
<p><strong>#</strong> Herhangi Bir Tablo Raporlanacak</p>
<p><strong>#</strong> Proje Dosyaları Sunucuya Taşınacak</p>
<p><strong>#</strong> Alan Adı Alınacak</p>
<p><strong>#</strong> Proje Canlıya Taşınacak</p>

